/*CSS Documment*/
@charset "UTF-8";

/*Ajustes Generales*/

@font-face {
    font-family: "ClashDisplay-Extralight";
    src: url(fonts/clash-display/clash-displat-extralight.ttf) format(truetype);
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Light";
    src: url(fonts/clash-display/clash-display-light.ttf) format(truetype);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Regular";
    src: url(fonts/clash-display/clash-display-regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url(fonts/clash-display/clash-display-medium.ttf)format(truetype);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url(fonts/clash-display/clash-display-semibold.ttf) format(truetype);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Bold";
    src: url(fonts/clash-display/clash-display-bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Variable";
    src: url(fonts/clash-display/clash-display-variable.ttf) format(truetype);
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Dx Lactos";
    src: url(fonts/dxlactos-regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Ajustes especificos*/

body {
    background-color: #eaeaea;
    margin: 30px;
}

/* BARRA DE NAVEGACIÓN */
header {
    background-color: #a7fc00;
    border: 2px solid #262223;
    border-radius: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 21px 64px;
    margin-top: 40px;
}

/* LOGO */
.logo img {
    height: 40px;
}

/* MENÚ */
nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

/* LINKS */
nav a {
    text-decoration: none;
    color: #262223;
    font-size: 1.1rem;
    font-family: 'ClashDisplay-Regular', sans-serif;
    font-weight: 400;
    transition: 0.3s;
}

/* HOVER */
nav a:hover {
    color: #6E6EFF;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5%;
    margin: 0px 70px 70px 0px;
    gap: 40px;
    margin-bottom: 20vh;
}

/* TEXTO */

.hero-text p {
    color: #df73ff;
    font-size: 5rem;
    padding-bottom: 5px;
}

h1 {
    font-family: 'Dx Lactos', sans-serif;
    font-size: 8rem;
    color: #262223;
    line-height: 1.1;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

h1 span {
    color: #6E6EFF;
    font-family: 'Dx Lactos', sans-serif;
}

h2 {
    font-family: 'ClashDisplay-Regular', sans-serif;
    font-size: 4rem;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #262223;
}

/* BOTÓN */
.boton {
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #231c1e;
    background: transparent;
    color: #231c1e;
    cursor: pointer;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-size: 1, 8rem;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.boton:hover {
    border: none;
    color: #eaeaea;
    background: linear-gradient(90deg, #6E6EFF 20%, #262223 100%);
    font-family: "ClashDisplay-Variable";
}

/* IMAGEN */

.hero-img img {
    width: 570px;
    height: auto;
}

/*SOBRE MI*/

article {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 60px;
    background: #231c1e;
    border-radius: 40px;
    margin-block-end: 10px;
}

.sobre-mi p {
    color: #F0BDF3;
    font-size: 5rem;
    margin: 5px 0 5px 0px;
}

.sobre-mi-texto {
    max-width: 700px;
}

.sobre-mi-texto h3 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #F0BDF3;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-weight: 600;
}

.sobre-mi-texto p {
    color: #EAEAEA;
    font-size: 1.5rem;
}

/*DESPLEGABLES*/

.desplegables {
    height: fit-content;

}

.lista {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.item {
    padding: 0 50px 30px 50px;
}

/* EDUCACIÓN */
.educacion {
    background-color: #a7fc00;
    margin-top: 30vh;
    border-top: 2px solid #262223;
    border-bottom: 2px solid #262223;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo h3 {
    font-size: 3rem;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-weight: 600;
}

.titulo span {
    font-size: 3rem;
    transition: transform 0.3s ease;
}

.contenido {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    margin: 5px 0px 10px 0;
}

.contenido h4 {
    font-size: 1rem;
    font-weight: bold;
}

.item:hover .contenido {
    max-height: 350px;
}

.item:hover .titulo span {
    transform: rotate(45deg);
}

/* EXPERIENCIA LABORAL*/

.experiencia {
    background-color: #F0BDF3;
    border-top: 1px solid #262223;
    border-bottom: 1px solid #262223;
}

/* HERRAMIENTAS*/

.herramientas {
    background-color: #6E6EFF;
    border-top: 1px solid #262223;
    border-bottom: 2px solid #262223;
}

.herramientas ul {
    list-style: none;
    display: flex;
    align-items: start;
    gap: 10px;
}

/*PROYECTOS DESTACADOS*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 90px 0 90px;
}

.titulo-proyectos p {
    color: #df73ff;
    font-size: 5rem;
    max-width: 50%;
}

.titulo-proyectos h3 {
    font-size: 3rem;
    color: #262223;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.titulo-proyectos h2 {
    font-family: 'Dx Lactos', sans-serif;
    font-size: 7rem;
}



.tarjetas {
    display: flex;
    gap: 60px;
    margin: 100px 45px 50px 45px;
}

/*TARJETA 1*/

.tarjeta-1 {
    transition: 0.4s ease;
}

.tarjeta-1:hover {
    background-image: url("img/proyecto-1-imagen.png");
}

.tarjeta-1-contenido {
    transition: opacity 0.3s;
}

.tarjeta-1:hover .tarjeta-1-contenido {
    opacity: 0;
}

/*TARJETA 2*/

.tarjeta-2 {
    transition: 0.4s ease;
}

.tarjeta-2:hover {
    background-image: url("img/proyecto-2-imagen.png");
}

.tarjeta-2-contenido {
    transition: opacity 0.3s;
}

.tarjeta-2:hover .tarjeta-2-contenido {
    opacity: 0;
}

/*TARJETA 3*/

.tarjeta-3 {
    transition: 0.4s ease;
}

.tarjeta-3:hover {
    background-image: url("img/proyecto-3-imagen.png");
}

.tarjeta-3-contenido {
    transition: opacity 0.3s;
}

.tarjeta-3:hover .tarjeta-3-contenido {
    opacity: 0;
}

/*TARJETA 4*/

.tarjeta-4 {
    transition: 0.4s ease;
}

.tarjeta-4:hover {
    background-image: url("img/proyecto-4-imagen.png");
}

.tarjeta-4-contenido {
    transition: opacity 0.3s;
}

.tarjeta-4:hover .tarjeta-4-contenido {
    opacity: 0;
}

.area-boton {
    text-align: right;
    margin: 0 45px 20vh 0;
}

/*FRASE*/

.frase {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
    margin-bottom: 20vh
}

.frase p {
    text-align: center;
    font-size: 2.5rem;
}

.frase span {
    font-weight: 600;
}


/*FOOTER*/

footer {
    background-color: #a7fc00;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-seccion {
    max-width: 250px;
}

.linea {
    width: 35px;
    height: 1px;
    background-color: #262223;
    margin-bottom: 10px;
}

.footer-seccion h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-family: "ClashDisplay-Variable", sans-serif;
    font-weight: 500;
}

.footer-seccion p {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.footer-seccion a {
    text-decoration: none;
    color: #262223;
}

footer a:hover {
    opacity: 0.7;
}
