/*CSS Documment*/
@charset "UTF-8";

/*Ajustes Generales*/

@font-face {
    font-family: "ClashDisplay-Extralight";
    src: url(fonts/clash-display/clash-displat-extralight.ttf) format(truetype);
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Light";
    src: url(fonts/clash-display/clash-display-light.ttf) format(truetype);
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Regular";
    src: url(fonts/clash-display/clash-display-regular.ttf) format(truetype);
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url(fonts/clash-display/clash-display-medium.ttf)format(truetype);
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url(fonts/clash-display/clash-display-semibold.ttf) format(truetype);
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Bold";
    src: url(fonts/clash-display/clash-display-bold.ttf) format(truetype);
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "ClashDisplay-Variable";
    src: url(fonts/clash-display/clash-display-variable.ttf) format(truetype);
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Dx Lactos";
    src: url(fonts/dxlactos-regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Ajustes especificos*/

body {
    background-color: #eaeaea;
}

/* HEADER */
.navbar {
    background-color: #a7fc00;
    border: 2px solid #262223;
    padding: 12px 24px;
    border-radius: 25px;
    margin-left: 2%;
    margin-right: 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* LOGO */
.logo img {
    height: 50px;
}

/* MENÚ */
.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

/* LINKS */
.menu a {
    text-decoration: none;
    color: #262223;
    font-size: 18px;
    font-family: 'ClashDisplay-Regular', sans-serif;
    font-weight: 400;
}

.menu li:not(:last-child)::after {
    content: "|";
    margin-left: 25px;
    color: #000;
}

/* HERO */
.hero {
    background: linear-gradient(to bottom, #d9a7e0, #cfcfcf);
    border-radius: 25px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 30px 2%;
    max-width: 2000px;
}

/* TEXTO */
.hero-text {
    padding: 40px;
    max-width: 600px;
}

h1 {
    font-family: 'Dx Lactos', sans-serif;
    font-size: 75px;
    margin: 0;
    color: #262223;
}

h2 {
    font-family: 'ClashDisplay-Regular', sans-serif;
    font-size: 50px;
    margin: 10px 0 20px;
    color: #262223;
}

.hero-text p {
    font-size: 20px;
    color: #262223;
    margin-bottom: 20px;
    line-height: 1.4;
}

/* BOTÓN */
.boton {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid #262223;
    border-radius: 20px;
    text-decoration: none;
    color: #262223;
    font-family: 'ClashDisplay-Medium', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* IMAGEN */

.hero-img img {
    width: 500px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero-img img {
        width: 80%;
        max-width: 300px;
    }
}

/* INFO */

.info {
    width: 100%;
    margin: 0;
}

.bloque {
    padding: 50px 110px;
}

/* COLORES */
.verde {
    background-color: #a7fc00;
    border-top-style: solid;
    border-color: #262223;
    border-top-width: 2px;
}

.lila {
    background-color: #f0bdf3;
    border-top-style: solid;
    border-color: #262223;
    border-top-width: 2px;
}

.azul {
    background-color: #6e6eff;
    border-top-style: solid;
    border-color: #262223;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-color: #262223;
    border-bottom-width: 2px;
}

/* TITULOS */
.header h3 {
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    margin-bottom: 50px;
    font-family: 'ClashDisplay-Semibold', sans-serif;
}

/* TEXTOS */
.bloque p {
    font-size: 14px;
    line-height: 1.5;
    max-width: 800px;
}

.bloque ul {
    margin-top: 14px;
    padding-left: 20px;
}

.sub p {
    font-family: "Fira Code", monospace;
    font-weight: 500;
}

.sub2 p {
    font-family: "Fira Code", monospace;
    font-weight: 500;
}

.sub3 p {
    font-family: "Fira Code", monospace;
    font-weight: 500;
}

.sub4 p {
    font-family: "Fira Code", monospace;
    font-weight: 500;
}


/* SECCIÓN MI TRABAJO */

.linea {
    font-family: 'ClashDisplay-Regular', sans-serif;
    margin-bottom: 10px;
    font-size: 14px;
    display: block;
}

.primera-seccion-proyectos {
    display: flex;
    justify-content: space-between;
    padding: 60px 5%;
    gap: 40px;
}

/* IZQUIERDA */
.hero-izquierda {
    max-width: 400px;
}

.linea {
    display: block;
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    padding-left: 12px;
}

.linea::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 2px;
    height: 14px;
    background: #262223;
}

/* ESTRELLA */
.estrella {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    padding-bottom: 90px;
    ;
}

/* TITULO */
.hero-izquierda h1 {
    font-size: 56px;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
}


/* DERECHA */
.hero-derecha {
    display: flex;
    justify-content: center;
}

/* CAJA */
.caja {
    width: 800px;
    max-width: 200%;
    min-width: 600px;
    height: 350px;
    border: 2px solid #262223;
    border-radius: 30px;
    padding: 30px;
    justify-content: left;
    position: relative;
}

/* NUMERO */
.numero {
    font-size: 200px;
    font-weight: 600;
    font-family: 'ClashDisplay-Semibold', sans-serif;
    color: #262223;
}

/* NOMBRE */
.nombre {
    width: fit-content;
    margin-top: 10px;
    padding: 5px 12px;
    border: 1px solid #231c1e;
    border-radius: 20px;
    font-size: 14px;
    font-family: 'ClashDisplay-Medium', sans-serif;

}


/* DESCRIPCION */
.desc {
    position: absolute;
    bottom: 20px;
    left: 30px;
    font-size: 14px;
}

@media (max-width: 900px) {
    .hero-proyectos {
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
    }

    .hero-derecha {
        width: 100%;
    }

    .caja {
        width: 100%;
    }

    .hero-izquierda h1 {
        font-size: 40px;
    }
}

/* 2DA FILA */
.segunda-fila-proyectos {
    display: flex;
    gap: 40px;
    padding: 40px 5%;

}

.caja-dos {
    flex-grow: 2;
    max-width: 100%;
    min-width: 600px;
    height: 350px;
    border: 2px solid #262223;
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

.caja-tres {
    flex-grow: 1;
    max-width: 100%;
    min-width: 600px;
    height: 350px;
    border: 2px solid #262223;
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

@media (max-width: 900px) {
    .segunda-fila-proyectos {
        flex-direction: column;
    }

    .segunda-fila-proyectos.caja-dos {
        width: 100%;
    }

    .segunda-fila-proyectos.caja-tres {
        width: 100%;
    }
}

/* 3ERA FILA*/
.tercera-fila-proyectos {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    padding: 30px 5%;
}


.caja-cuatro {
    width: 400px;
    max-width: 100%;
    min-width: 400px;
    height: 350px;
    border: 2px solid #262223;
    border-radius: 30px;
    padding: 30px;
    position: relative;
}

/* FRASE FINAL */
.frase {
    margin-left: 40%;
    display: flex;
    text-align: right;
    font-size: 20px;
}



footer {
    background: linear-gradient(to bottom, #a7fc00, #ffffff);
    text-align: center;
    padding: 80px 20px;
    line-height: 3;
}

.contacto h3 {
    font-family: 'Dx Lactos';
    font-size: 30px;
    margin-bottom: 20px;
}

.contacto p {
    font-family: "Fira Code Medium", serif;
    font-size: 14px;
    max-width: 500px;
    margin: 0 auto 40px;
    line-height: 1.5;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 40px
}

.redes img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}